{% extends "layout.html" %}

{% block title %}
    Completed Goals
{% endblock %}

{% block main %}
    <div class="wrap">
        <h1>Completed Goals</h1>
        <br>
        <br>
        {% if numOfGoals == 0 %}
            <h3>No Goals Completed Yet</h3>
            <br>
            <h5>When you complete a goal you'll be able to see it here.</h5>
        {% else %}
           <table class="table table-bordered">
               <thead>
                   <tr>
                       <th width="15%">Goal</th>
                       <th width="45%">Link to Vision</th>
                       <th width="25%">Subgoals</th>
                       <th width="15%">Date of Completion</th>
                   </tr>
               </thead>
               <tbody>
                   {% for goal in goalsDone%}
                       <tr>
                           <td>{{ goal.goalName }}</td>
                           <td>{{ goal.visionLink }}</td>
                           <td>{{ goal.subgoals }}</td>
                           <td>{{ goal.completionDate }}</td>
                       </tr>
                    {% endfor %}
               </tbody>
           </table>
        {% endif %}
    </div>
{% endblock %}
