{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="wrap">
    {% if registered %}
        <div class="alert alert-primary" role="alert">
          <p>Welcome <strong>{{ username }}</strong> to GoGoals!</p>
        </div>
    {% endif %}
    <h1>Welcome to GoGoals!</h1>
    <br>
    {% if numOfGoals == 0 %}
        <h3>You don't have any active goals! <a href="/addGoal">Add one now!</a></h3>
    {% else %}
        <h3>Here you can see what to focus on today</h3>
        <br>
        <br>
        <br>
        {% for step in steps %}
        <form action="home" method="post">
            <h5 class="floatLeft"><strong>Goal:</strong> {{ goalName[loop.index0] }}</h5>
            <br>
            <hr>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                      <th scope="row" colspan="1" class="stepNum"> Current Step</th>
                      <td colspan="4" class="stepDiscrib">{{ step }}</td>
                      <td colspan="1" class="stepSuccess"><input name="currentComple" type="number" value="{{ currentComple[loop.index0] }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ successions[loop.index0] }}</span>
                      <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                      <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" value="{{ index[loop.index0] }}" readonly name="stepNumber">
            <input type="hidden" value="{{ goal_id[loop.index0] }}" readonly name="saveChangesGoal_id">
            <button type="submit" class="btn btn-primary saveChangesBtn">Save Changes</button>
        </form>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}