{% extends "layout.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block main %}
    <div class="wrap">
        <br>
        <h2>Edit Profile</h2>
        <br>
        <br>
        {% for user in users %}
        <div class="profileInfo">
            <form action="editProfile" method="post">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Username</th>
                  <td><input autocomplete="off" class="form-control" name="username" placeholder="{{ user.username }}"></td>
                </tr>
                <tr>
                  <th scope="row">New Email Address</th>
                  <td><input autocomplete="off" class="form-control" name="email" placeholder="{{ user.email }}"></td>
                </tr>
                <tr>
                  <th scope="row">Confirm Email Address</th>
                  <td><input autocomplete="off" class="form-control" name="confirmEmail"></td>
                </tr>
                <tr>
                  <th scope="row">First Name</th>
                  <td><input autocomplete="off" class="form-control" name="firstName" placeholder="{{ user.firstName }}"></td>
                </tr>
                <tr>
                  <th scope="row">Last Name</th>
                  <td><input autocomplete="off" class="form-control" name="lastName" placeholder="{{ user.lastName }}"></td>
                </tr>
                <tr>
                  <th scope="row">Password</th>
                  <td><input autocomplete="off" class="form-control" name="password" type="password" placeholder="New Password"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must include letters both lower and uppercase and one or more numbers. Min. length = 8"></td>
                </tr>
                <tr>
                  <th scope="row">Confirm Password</th>
                  <td><input autocomplete="off" class="form-control" name="confirmPassword" type="password" placeholder="Confirm Password"></td>
                </tr>
              </tbody>
            </table>
            <br>
            <button type="submit" class="btn btn-primary" onclick="return confirm('Sure you want to make these changes to your profile?')">Save Changes</button>
        </div>
        </form>
        {% endfor %}
        <br>
        {% if error == True %}
        {% if usernameError %}
        <p class="red"><strong>Error:</strong> {{ usernameError }}</p>
        {% endif %}
        <br>
        {% if emailError %}
        <p class="red"><strong>Error:</strong> {{ emailError }}</p>
        {% endif %}
        <br>
        {% if passwordError %}
        <p class="red"><strong>Error:</strong> {{ passwordError }}</p>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}