{% extends "layout.html" %}

{% block title %}
    Frontpage
{% endblock %}

{% block main %}
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000" data-pause="hover">
          <img src="/static/images/BackgroundStarsLogo.jpg" class="d-block w-100" alt="Logo">
          <div class="carousel-caption d-none d-md-block">
            <h5>Welcome to GoGoals!</h5>
            <p>GoGoals mission is to help you reach your goals and dreams. It's a tool to setting goals and keeping track of them.
            By using GoGoals you'll be able to set goals and break them down into smaller goals on your way to achieving the bigger ones.
            Come join a ambitious community of achievers!<a href="/register"> Register!</a></p>
          </div>
        </div>
        <div class="carousel-item" data-interval="10000" data-pause="hover">
          <img src="/static/images/carouselHomePage.jpg" class="d-block w-100" alt="Example of the Home page">
        </div>
        <div class="carousel-item" data-interval="10000" data-pause="hover">
          <img src="/static/images/carouselAddGoals.jpg" class="d-block w-100" alt="Example of the Add Goal page">
        </div>
        <div class="carousel-item" data-interval="10000" data-pause="hover">
          <img src="/static/images/carouselGoals.jpg" class="d-block w-100" alt="Example of the Goals page">
        </div>
        <div class="carousel-item" data-interval="10000" data-pause="hover">
          <img src="/static/images/carouselCompletedGoals.jpg" class="d-block w-100" alt="Example of the Completed Goals page">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="wrap">
      <div class="section">
        <!-- First section, Vision (heading > image > quote > text)-->
        <h2>Define your own Life Vision</h2>
        <br>
        <blockquote class="blockquote text-center">
              <p class="mb-0">Quote about why having a life vision is important</p>
              <footer class="blockquote-footer">Who said it, <cite title="Source Title">and where to find it</cite></footer>
        </blockquote>
        <p>When setting a goal it is important to know why you want to persue exactly that goal. It is important to have a why!
              To get more motivation and to make sure that the goal is in line with who we want to be and where we want to go, it is
              a good idea to have a clear life vision and to make goals according to that vision. By doing this you will stay on the right
              path towards a better you. Successful people who gets admired usually live by principals and values rather than emotions.
              These principals and values have their roots in your vision, and the greater your vision is based on genuine and
              righteous laws of nature the more effective and successful you'll be, hence the importance of you vision!
        </p>
      </div>

      <div class="section">
        <h2>Set Goals and Plans</h2>
        <hr class="imageSeperator">
        <img src="/static/images/AddCurrentGoals.jpg" alt="Goals page">
        <hr class="imageSeperator">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Quote about the importance of setting goals</p>
            <footer class="blockquote-footer">Who said it, <cite title="Source Title">and where to find it</cite></footer>
        </blockquote>
        <p>To set goals is to use a personal navigator set towards a better you. Goals is essentiel for personal development aswell
            as success in business. Without goals you don't really go anywhere you're just treading waters. But setting goals and
            especially achieving them isn't as easy as said. We have all tried to set goals or new years resolutions that got thrown
            in the trash pin in the back of our head and priorities and never got picked up again, or maybe we have worked on and of
            on the same goal that we never seem to achieve as we give up and slowly forget them, before we then again pick them up.
            This is where GoGoals comes into the picture. This tool is made to help you set goals and subgoals to make it easier and
            more fun to go after your dreams. When setting a goal you often need to have subgoals that break that goal down into
            digestible bites. This makes bigger goals seem achievable and posible. Furthermore it is important to set your goals in
            accordance to your vision, which will make it personal and motivate you. It also checks rather your goal is in line with
            who you want to be or not.
            <br>
            <br>
            With GoGoals all you goals will be stored and viewable in the
            current goals page. Here you can track your progress and get a reminder of your "why" for during this goal.
        </p>
      </div>

      <div class="section">
        <h2>See your daily goals and what to focus on</h2>
        <hr class="imageSeperator">
        <img src="/static/images/homePage.PNG" alt="Home page">
        <hr class="imageSeperator">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Quote about the importance of repetition or focus</p>
            <footer class="blockquote-footer">Who said it, <cite title="Source Title">and where to find it</cite></footer>
        </blockquote>
        <p>
            The homepage is where you can get an overview of your current goals and what to focus on during the day. This page works as your reminder and
            guide. You'll be able to see what goals you are currently set to work at, and when you have done them you can mark them as "Done" and move on to the next step.
            This is the page that you'll want to go to whenever you need to be reminded of what to focus on.
            <br>
            <br>
            All goals is set with steps to get there. These steps usually take repition, for instance if you need to get a better sleeping rhythm then
            that will take multiple completions before that habit is set. So whenever you have successfully done something you can mark it as "Done" and GoGoals
            will remember that and soon that goal will be completed. If you fail at a goal, for instance if you don't get to bed in time, then you should mark
            the goal as failed and that will have a negative effect in the completion of that specific goal. Maybe you need 10 successes of going to bed at 10 PM
            then one fail might count as -1 and set you back a bit. Remember repetition is key!

        </p>
      </div>
    </div>
{% endblock %}