{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="wrap">
        <h1><strong>Vision</strong></h1>
        <br>
        <img class="visionWallpaper" src="/static/images/visionwallpaer.jpg" alt="Vision Wallpaper">
        <br>
        <br>
        <p>This page's purpose is to help you write down your life vision, who you want to become and what you value.</p>
        <br>
        <h2>Why You Need a Vision</h2>
        <br>
        <p>A visions purpose is to clearify where you want to go in life. It's about imagining your dream or ideal self. You do this not just to
        have something to look forward to that can motivate you, but also as something that can help you persue the right goals that will take you towards
        your ideals. There's an old Hebrew wisdom that states "Without a vision, the people perish", another commonly known concept is "If you don't know
        where you're going, you'll likely end up somewhere else".
        Furthermore when you have a vision and some key values you'll know what to do and how to act in certain situations. You'll be more
        confident in your choices and actions, which will be looked up to be your familie, friends, colleagues and so on.</p>
        <br>
        <p>Experts and success stories support the fact that having a clear and defined vision will make your chances of succeeding far greater than if you
        didn't have a vision. You can look at it this way. If you don't create your own vision, map of your path in life, you'll allow other people and your
        circumstances to mould the course of your life and future.</p>

        <h2>The Difference between Long Term Goals and a Vision</h2>
        <br>
        <p>Goals are unique and individual experiences and accomplisments that you seek to achieve, while a vision is the bigger picture. Your life vision portraits who you want to be,
        what you wish to be remembered for and what experiences and achievements you wish to complete. Your vision gives you a framework to create goals and evaluate them againts.
        <strong>Your vision is your why.</strong></p>
        <br>
        <p>Answer these questions on a piece of paper, on your PC or like wise. Thinking about these questions will get you in the right mindset to write your vision.</p>
        <ul>
            <li>How would you want your life to have looked like at age 30, 40, 50, 60, 70, 80 and 100?</li>
            <li>What people do you want to be surrounded by?</li>
            <li>What are you capable of in life? Be optimistic, dream big. What are the greatest things you could accomplish, given the right circumstances and resources?</li>
            <li>Is there anything that you would wish to change about the world? What can you contribute with that will make a difference and make you proud and feel meaningful.</li>
            <li>Imagine being at your own funeral. There are 4 speakers, one from your family, one close friend, one of your colleagues and one from your religion or hobby.
            What do you wish to hear from each of these 4 speakers about how you were as a person?</li>
        </ul>

        <h2>Fix old Wounds</h2>
        <br>
        <p>Before proceeding is there any old wounds, conflicts or memories that needs to be solved or fixed? It's difficult to really embrace a new life vision and to commit to it
        if you're being hampered by old wounds that haven't been tended to yet. Now is the time to look into yourself and spend some time listening to your inner self. Are you
        hanging on to hurt that needs healing? Do you need to forgive someone or yourself? Be honest and seek help from friends and family or professional if needed. All this
        so you can move on.</p>
        <br>

        <h2>What Matters in Life</h2>
        <br>
        <p>This is the first step in creating your life vision. Firstly you need to identify what actually <strong>matters in life</strong> to you. Try to dig deep into yourself
        be a little philosophycal. What is the meaning of life? How should your live be be lived? Don't worry too much about your answer it doesn't have to be perfect and properly
        won't be. The point is to make a marker to work towards in life, you'll always be able to make small adjustments when you review your vision later when you are at a different point
        in your life.</p>
        <br>
        <p>Next up is making a list of categories in life that matter to you. Take the list below as an example.</p>
        <ul>
            <li>Ability: Skills, knowledge, hobbies, learning.</li>
            <li>Health: Sports, fitness, foods, meditation.</li>
            <li>Wealth: Having a job that makes me happy and supports my life and goals financially.</li>
            <li>Relationships: Create and develop strong bonds. Loyal.</li>
            <li>Time: Using my time wisely.</li>
            <li>Education: Keep learning new things and ideas thoughout my life. Stay curious.</li>
            <li>Experiences and accomplishments: Seek new experiences and set goals. Strive to complete every goal.</li>
            <li>Contentment: Having a solid foundation that I am enough in my self and that I am happy to be where I am at and being on this journey however had it may be.</li>
        </ul>
        <p>Your list can and should look different then the abow one. It's all about what matters the most to you. It's your life. Now for every categorie write down what
        you want and need from each. Think about what experience you wish to have and what you wish to achieve in your life, and remember here to work backwards, so that
        you always have your life vision/ideal life in the back of your head and so that you will understand how these categories can support your vision.</p>
        <br>

        <h2>Look to People you Admire</h2>
        <br>
        <p>Seek out people whose lives, examples and work you admire. Ask them how they got to where they are now, and why they do what they do. Learn about
        successful (in your eyes) people's values and vision. After this you can reevaluate your life vision and important categories. Be inspired!</p>
        <br>

        <h2>Writing your Life Vision</h2>
        <br>
        <p>I would now highly recommend that you write down your life vision in hand on a piece of paper, on your PC and then print it out, or any other way that works for
        you. Just make sure to have it somewhere that you'll see it everyday. Your vision will be a statement of your ideal life, combined with a list of areas that matter
        most, and high-level goals for each area. This is your <strong>Life Vision</strong>.</p>
        <br>

        <h2>What's Next?</h2>
        <br>
        <p>Writing your life vision will undoubtly still be blessful if that is all you do and then put it in a shelf and never look at it again, since it will stick in your memory
        and you'll have a faint idea of which direction to go towards. However this exercise was never meant to be a one time thing. If you really want to make your vision happen, you'll
        need to make review and remembering your vision a habit. Make sure that you incorperate time in your calender every week or month to look at your vision and cite it to yourself.
        This will also be the time to adjust it to your circumstances or where you are in life now. Furthermore tell someone close to you about your vision, get their feedback, and
        ask them to make you accountable for living in accordance or striving to life up to that vision. Don't be afraid to fail, dream big, be positive. I remember someone once said,
        "Life is like a staircase, the worst thing you can do is stand still on that staircase, and even if failure seems like a step back/down it's actually more like a step forward,
        since you have a better chance next time to move up". If you use enough time on you vision it will become a habit to read it and it will be stitched into your head. Good luck!</p>
    </div>
{% endblock %}