{% extends "layout.html" %}

{% block title %}
    Goals
{% endblock %}

{% block main %}
    <div class="wrap">
      <h1>Welcome to Your Goals Board</h1>
      <br>
      {% if numOfGoals == 0 %}
        <h2> No Current Goals</h2>
        <br>
        <h3> Add a goal <a href="/addGoal">HERE</a></h3>
      {% else %}
            {% for goal in goals %}
                <h2>Goal</h2>
                <br>
                <h5 class="floatLeft"><strong>Goal:</strong> {{ goal.goalName }}</h5>

                <!-- Vision link table with deadline -->
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" colspan="4">Link to Vision</th>
                      <th scope="col" class="stepSuccess">Deadline</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4">{{ goal.visionLink }}</td>
                      <td colspan="1">{{ goal.deadline }}</td>
                    </tr>
                  </tbody>
                </table>
                <br>

                <h5 class="floatLeft"><strong>Steps</strong></h5>
                <!-- Steps table with subgoals -->
                <form action="stepSuccesses" method="post">
                  {% if goal.step1 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 1</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step1 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple1" type="number" value="{{ goal.currentComple1 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions1 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step2 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 2</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step2 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple2" type="number" value="{{ goal.currentComple2 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions2 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step3 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 3</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step3 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple3" type="number" value="{{ goal.currentComple3 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions3 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step4 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 4</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step4 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple4" type="number" value="{{ goal.currentComple4 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions4 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step5 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 5</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step5 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple5" type="number" value="{{ goal.currentComple5 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions5 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step6 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 6</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step6 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple6" type="number" value="{{ goal.currentComple6 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions6 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step7 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 7</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step7 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple7" type="number" value="{{ goal.currentComple7 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions7 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step8 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 8</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step8 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple8" type="number" value="{{ goal.currentComple8 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions8 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step9 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 9</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step9 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple9" type="number" value="{{ goal.currentComple9 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions9 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                  {% if goal.step10 != None %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" colspan="1" class="stepNum">Step 10</th>
                        <td colspan="4" class="stepDiscrib">{{ goal.step10 }}</td>
                        <td colspan="1" class="stepSuccess"><input name="currentComple10" type="number" value="{{ goal.currentComple10 }}" class="currentComple" readonly>/&nbsp;&nbsp;&nbsp;&nbsp;<span class="goalComple">{{ goal.successions10 }}</span>
                        <button class="btn btn-outline-danger floatRight stepFailBtn" type="button"><i class="fas fa-times"></i></button>
                        <button class="btn btn-outline-success floatRight stepDoneBtn" type="button"><i class="fas fa-check"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                <h5 class="floatLeft"><strong>Subgoals:</strong> {{goal.subgoals}}</h5>
                <br>
                <br>
                  <input type="hidden" value="{{goal.goal_id}}" readonly name="saveChangesGoal_id">
                  <button type="submit" class="btn btn-primary saveChangesBtn">Save Changes</button>
              </form>
              <br>
              <br>
              <form action="/completeGoal" method="post">
                <input type="hidden" value="{{goal.goalName}}" readonly name="completedGoalName">
                <button class="btn btn-outline-primary" id="goalComplete" type="submit"
                onclick="return confirm('Sure you want to mark this goal as completed?')">Goal Completed!</button>
              </form>
              <hr class="goalSeperator">
              <br>
          {% endfor %}
        {% endif %}
    </div>
{% endblock %}