{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="wrap">
        <br>
        <h2>Your Profile Information</h2>
        <br>
        <br>
        {% for user in users %}
        <div class="profileInfo">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Username</th>
                  <td>{{ user.username }}</td>
                </tr>
                <tr>
                  <th scope="row">Email Address</th>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <th scope="row">First Name</th>
                  <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                  <th scope="row">Last Name</th>
                  <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                  <th scope="row">Password</th>
                  <td><a href="/editProfile">Change Password</a></td>
                </tr>
              </tbody>
            </table>
            <br>
             <a href="/editProfile" class="list-group-item list-group-item-action list-group-item-primary">Edit Profile</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}